@model Tuple<int, InvGrnDetailsDto>
@{
    Layout = null;
    var ItemsNameList = (List<Models.DTO.ViewModels.SelectList.InventoryManagement.InvItem_SLM>)ViewBag.Items;

    var rowNo = Model.Item1;
    var _model = Model.Item2 ?? new InvGrnDetailsDto() { ItemId = -1};
}


<tr class="add-stock-row row-no-@rowNo" data-row-no="@rowNo">

    <td>
        <input readonly type="text" value="@(_model.Po != null? _model.Po.PoNo: "")" class="form-control" />
        <input type="hidden" id="InvGrnDetails_@rowNo.ToString()__PoId" asp-for="@_model.PoId" name="InvGrnDetails[@rowNo].PoId" class="form-control" />
        <input type="hidden" id="InvGrnDetails_@rowNo.ToString()__Status" name="InvGrnDetails[@rowNo].Status" value="1" class="row-status" />
    </td>

    <td style="width:534.500px;max-width:600.500px;">
        @if (_model.PoId == null)
        {
            <select id="InvGrnDetails_@rowNo.ToString()__ItemId" asp-for="@_model.ItemId" name="InvGrnDetails[@rowNo].ItemId" class="form-control item-select col-md-12" onchange="ItemSelect_OnChange('@rowNo')">
                <option value="-1" data-ItemBrCode="" data-purchaseRate="0" data-itemMeasurement="" data-itemUnit=""></option>
                @foreach (var item in ItemsNameList)
                {
                    <option value="@item.Value" data-ItemBrCode="@item.BarCode" data-purchaseRate="@item.PurchaseRate" data-itemMeasurement="@item.Measurement" data-itemUnit="@item.UnitName">@item.FullName</option>
                }
            </select>
            <span class="red font-small-1 invalid-span font-weight-bold" style="display:none;">Please Select Item</span>
        }
        else
        {
            <select disabled="disabled" asp-for="@_model.ItemId" id="zmodel_ItemId_@rowNo" class="form-control item-select col-md-12 @(_model.PoId== null?"select": null)">
                <option value="-1" data-ItemBrCode="" data-purchaseRate="0" data-itemMeasurement="" data-itemUnit=""></option>
                @foreach (var item in ItemsNameList)
                {
                    <option value="@item.Value" data-ItemBrCode="@item.BarCode" data-purchaseRate="@item.PurchaseRate" data-itemMeasurement="@item.Measurement" data-itemUnit="@item.UnitName">@item.FullName</option>
                }
            </select>
            <span class="red font-small-1 invalid-span font-weight-bold" style="display:none;">Please Select Item</span>
            <input type="hidden" id="InvGrnDetails_@rowNo.ToString()__ItemId"  name="InvGrnDetails[@rowNo].ItemId" value="@_model.ItemId" />
        }

    </td>

    <td>
        <input type="text" id="InvGrnDetails_@rowNo.ToString()__BatchNo" asp-for="@_model.BatchNo" name="InvGrnDetails[@rowNo].BatchNo" class="form-control" />
    </td>
    @*<td>
        <input readonly="@(_model.PoId!= null? "readonly": null)" type="number" step="any" min="0" id="InvGrnDetails_@rowNo.ToString()__OrderedQuantity" asp-for="@_model.OrderedQuantity" oninput="CalculateGrnDetails_Total('@rowNo')" name="InvGrnDetails[@rowNo].OrderedQuantity" class="form-control" />
    </td>*@
    <td>
        @if (_model.PoId == null)
        {
            <input type="number" step="any" min="0" id="InvGrnDetails_@rowNo.ToString()__ReceivedQuantity" asp-for="@_model.ReceivedQuantity" oninput="CalculateGrnDetails_Total('@rowNo')" name="InvGrnDetails[@rowNo].ReceivedQuantity" class="form-control" />
            <span class="red font-small-1 invalid-span font-weight-bold" style="display:none;">Received Quantity is  required.</span>
        }
        else
        {
            <span class="form-control disabled" style="background-color:#ECEFF1">@_model.ReceivedQuantity</span>
            <input type="text" hidden id="InvGrnDetails_@rowNo.ToString()__ReceivedQuantity" asp-for="@_model.ReceivedQuantity" name="InvGrnDetails[@rowNo].ReceivedQuantity" />
        }

    </td>

    <td>
        @if (_model.PoId == null)
        {
            <input type="number" step="any" min="0" id="InvGrnDetails_@rowNo.ToString()__Rate" name="InvGrnDetails[@rowNo].Rate" asp-for="@_model.Rate" oninput="CalculateGrnDetails_Total('@rowNo')" class="form-control" />
            <span class="red font-small-1 invalid-span font-weight-bold" style="display:none;">Rate is  required.</span>
        }
        else
        {
            <span class="form-control disabled" style="background-color:#ECEFF1">@_model.Rate</span>
            <input type="text" hidden id="InvGrnDetails_@rowNo.ToString()__Rate" name="InvGrnDetails[@rowNo].Rate" asp-for="@_model.Rate" />
        }

    </td>

    <td>
        <input readonly type="number" step="any" id="InvGrnDetails_@rowNo.ToString()__Amount" name="InvGrnDetails[@rowNo].Amount" class="form-control" />
    </td>

    <td>
        <span onclick="RemoveRow('@rowNo')" class="btn bg-transparent red border-1 border-lighten-1 border-grey" style="cursor:pointer;"><i class="fa fa-close"></i></span>
    </td>

</tr>
