@using System.Globalization
@using Models
@model RptAccountsTrialBalanceDto

@{
    ViewData["Title"] = "Trial Balance";
    string dateFormat = "dd MMM, yyyy";
}

@section Styles{

}
@section Scripts{
    <environment include="Development">
        <script src="~/js/Services/JsPdfService.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Services/JsPdfService.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
}

<section class="journal-template">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h4>Trial Balance</h4>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="col-md-12">
                                <form method="post">
                                    @*<div class="col-lg-1 disp-inline-block"><label>Filters:</label></div>*@
                                    <div class="col-lg-3 disp-inline-block font-small-3">
                                        <label>Select Date</label><span class="red">*</span>
                                        <div class="input-group font-small-3">
                                            <input type="date" asp-for="@Model.OnDate" class="form-control filter bg-white" required="required" />
                                        </div>
                                    </div>

                                    <div class="col-lg-1 disp-inline-block font-small-5"><input type="submit" class="btn btn-sm btn-raised btn-success right" value="Apply"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
            @if (Model.TrialBalances.Any())
            {
                <div class="row">
                    <div class="col-md-12">
                        <button onclick="printDiv('pdf-content')" class="btn btn-md btn-success mb-0">Print</button>
                    </div>
                </div>
            }

        </div>

        <div class="card-content" id="pdf-content">
            <div id="journal-template" class="card-body pt-0">
                <div id="journal-details" class="pt-2">
                    <div class="row">
                        <div class="table-responsive col-sm-12">
                            @if (Model.TrialBalances.Any())
                            {
                                <table class="table mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="3"> Trial Balance On @Model.OnDate.ToString(dateFormat)</th>
                                        </tr>
                                        <tr>
                                            <th class="">Account (Code)</th>
                                            <th class="">Debit.</th>
                                            <th class="">Credit.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.TrialBalances.Count(); i++)
                                        {
                                            var record = Model.TrialBalances[i];
                                            <tr>
                                                <td>@record.Title (@record.Code)</td>
                                                <td>
                                                    @if (record.Balance >= 0)
                                                    {<span>@(record.Balance != 0 ? record.Balance.ToNDecimalPlaces(2).ToString(CultureInfo.InvariantCulture) : "-")</span>}
                                                </td>
                                                <td>
                                                    @if (record.Balance < 0)
                                                    {<span>@record.Balance.ToNDecimalPlaces(2).ToString().Replace("-", "")</span>}
                                                else if (record.Balance == 0)
                                                {<span>0</span>}
                                                </td>
                                            </tr>

                                        }
                                        <tr>
                                            <th></th>
                                            <th>@Model.DrTotal.ToNDecimalPlaces(2)</th>
                                            <th>@Model.CrTotal.ToNDecimalPlaces(2).ToString().Replace("-", "")</th>
                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
                <!-- PO Footer -->

                <div id="po-footer">
                    <div class="row">
                    </div>
                    <!--/ PO Footer -->
                </div>
            </div>
        </div>
    </div>
    <div class="pagebreak"></div>
</section>

<!--About section ends-->
