@model RestDiningTableDto
@{
    ViewData["Title"] = "Edit - Dining-Table";
    var Floors = (IList<RestRestaurantFloors_SLM>)ViewBag.Floors ?? new List<RestRestaurantFloors_SLM>();
    var FloorsSelectList = new SelectList(Floors, "Value", "Text");
}

@section Scripts{
    <script>
        bindSubmit('edit-dining-table-form', 'btn-edit-dining-table', '/DiningTables/Edit', false, true);
    </script>
}
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Edit Dining-Table</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form id="edit-dining-table-form" class="form" autocomplete="off" method="post">
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-info"></i> General</h4>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.TableNo"></label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.TableNo" type="number" step="1" class="form-control border-grey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Capacity"></label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.Capacity" type="number" min="1" step="1" class="form-control border-grey" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.FloorId"></label>&nbsp;<span class="red">*</span>
                                            <select asp-items="FloorsSelectList" asp-for="@Model.FloorId" class="select form-control border-grey" required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Status"></label>&nbsp;<span class="red">*</span>
                                            <select asp-for="Status" class="form-control border-grey" required>
                                                <option value="">Select Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions right">
                                <button id="btn-edit-dining-table" type="submit" class="btn btn-raised btn-success" style="float:right" value="Save">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
