@model InvCategoryDto
@{
    ViewData["Title"] = "Edit - Category";
}

@section Scripts{
    <script>
        bindSubmit('edit-main-category-form', 'btn-edit-main-category', '/MainCategory/Edit', null, null, function (res) {
            if (res.responseCode === CODES.RESPONSE_CODE_UPDATED) {
                if ($('#category-image-input').val()!=="") {
                    $(`#category-image`).attr('src', res.model.imageUrl);
                }
            }
        });
    </script>
}
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Edit Category</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form id="edit-main-category-form" class="form" autocomplete="off" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="ImageUrl" />
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-info"></i> General</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Name"></label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.Name" type="text" class="form-control border-grey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch" style="padding-top:35px;">
                                                <input type="checkbox" asp-for="DisplayOnPos" class="custom-control-input" id="displayOnPosSwitch">
                                                <label class="custom-control-label" asp-for="DisplayOnPos" for="displayOnPosSwitch"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Status"></label>&nbsp;<span class="red">*</span>
                                            <select asp-for="Status" class="form-control border-grey" required>
                                                <option value="">Select Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="padding-left:15px;">
                                            <label asp-for="@Model.ImageUrl"></label>&nbsp;<span class="red"></span>
                                            <input id="category-image-input" name="categoryImage" type="file" accept="image/*" class="border-grey" />
                                            <div class="d-inline">
                                                <img id="category-image" src="@Model.ImageUrl" width="100" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-actions right">

                                <button id="btn-edit-main-category" type="submit" class="btn btn-raised btn-success" style="float:right" value="Save">Save</button>
                                @*<button type="reset" class="btn btn-raised btn-warning mr-1" style="float:right">
                                        <i class=""></i> Reset
                                    </button>*@

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
