@model InvSubCategoryDto
@{
    ViewData[index: "Title"] = "Create - SubCategory";
    var categoriesSelectList = new SelectList(Model.Category.MainCategories, "Id", "Name");

}

@section Scripts{
    <script>
        bindSubmit('create-sub-category-form', 'btn-create-sub-category', '/SubCategory/Create', true);
    </script>
}
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Create Sub-Category</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form id="create-sub-category-form" class="form" autocomplete="off" asp-route="CreateSubCategory" method="post" enctype="multipart/form-data">
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-info"></i> General</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.SubCategoryName"></label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.SubCategoryName" type="text" class="form-control border-grey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch" style="padding-top:35px;">
                                                <input type="checkbox" asp-for="DisplayOnPos" class="custom-control-input" id="displayOnPosSwitch">
                                                <label class="custom-control-label" asp-for="DisplayOnPos" for="displayOnPosSwitch"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.CategoryId"></label>&nbsp;<span class="red">*</span>
                                            <select asp-for="@Model.CategoryId" asp-items="categoriesSelectList" class="custom-select" required>
                                                <option value="">Select Parent Category</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="padding-top: 35px;">
                                            <label asp-for="@Model.ImageUrl"></label>&nbsp;<span class="red"></span>
                                            <input type="file" name="categoryImage" accept="image/*" class="border-grey" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions right">

                                <button id="btn-create-sub-category" type="submit" class="btn btn-raised btn-primary" style="float:right" value="Create">Create</button>
                                <button type="reset" class="btn btn-raised btn-warning mr-1" style="float:right">
                                    <i class=""></i> Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
