@model InvItemDto

@{
    ViewData["Title"] = "Edit - Item";
    var UnitsSelectList = new SelectList(((List<InvUnitDto>)ViewBag.Units), "Id", "Name");
    //var TaxSelectList = new SelectList(((List<TaxDto>)ViewBag.Taxes), "Id", "Name");
    var CategorySelectList = new SelectList(((List<InvCategoryDto>)ViewBag.Categories), "Id", "Name");
    var SubCategorySelectList = new SelectList(((List<InvSubCategoryDto>)ViewBag.SubCategories ?? new List<InvSubCategoryDto>()), "Id", "Name");
    var BrandSelectList = new SelectList(((List<InvBrandDto>)ViewBag.Brands), "Id", "Name");
    var ColorSelectList = new SelectList(((List<InvColorDto>)ViewBag.Colors), "Id", "Name");
    var SizeSelectList = new SelectList(((List<InvSizeDto>)ViewBag.Sizes), "Id", "Name");

}
@section Styles{
    <!--select2-->
    <link href="~/app-assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{


    <!--select2-->
    <script src="~/app-assets/vendors/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/Areas/InventoryManagement/Items/Edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Areas/InventoryManagement/Items/Edit.js" asp-append-version="true"></script>
    </environment>
}
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Edit Item</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form id="edit-item-form" class="form" autocomplete="off" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <input hidden type="number" asp-for="ItemType" />
                            <input type="hidden" asp-for="ImageUrl" />
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user-plus"></i> General </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.ItemCode">Item</label>&nbsp;<span class="red"></span>
                                            <span type="text" class=" border-grey red">#@Model.ItemCode</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.Name"></label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.Name" type="text" class="form-control border-grey" oninput="NameAttribute_OnChange()" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Full Name</label>&nbsp;<span class="red">*</span>
                                            <input asp-for="@Model.FullName" type="text" class="form-control border-grey disabled" readonly="readonly" style="background-color:white; cursor:default;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.ItemBarCode"></label>&nbsp;<span class="red">*</span>
                                            <span class="form-control border-grey disabled" style="background-color: #ECEFF1">@Model.ItemBarCode</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.Measurement"></label>&nbsp;<span class="red"></span>
                                            <input asp-for="@Model.Measurement" type="text" class="form-control border-grey" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.UnitId"></label>&nbsp;<span class="red"></span>
                                            <select asp-for="@Model.UnitId" asp-items="UnitsSelectList" class="custom-select select">
                                                <option value="">Select Unit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateUnit"))
                                            {
                                                <a href="/Units/Create" class="btn btn-sm btn-flat bg-blue white" data-original-title="Create" title="Add Unit">
                                                    Add Unit
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.PurchaseRate"></label>&nbsp;<span class="red"></span>
                                            <input asp-for="@Model.PurchaseRate" type="number" class="form-control border-grey" required readonly="@((Model.ItemType == Models.Enums.ItemTypes.DealItem.ToInt() || Model.ItemType == Models.Enums.ItemTypes.RecipeItem.ToInt()) ? "readonly":null)" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.SalesRate"></label>@*&nbsp;<span class="red font-small-1">(Exc Tax & Discount)</span>*@
                                            <input asp-for="@Model.SalesRate" type="number" class="form-control border-grey" oninput="Calculate_SalesIncOthers()" />
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="@Model.DiscountAmount"></label>&nbsp;<span class="red"></span>
                                                <input asp-for="@Model.DiscountAmount" type="number" class="form-control border-grey" oninput="Calculate_SalesIncOthers()" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch" style="padding-top:35px;">
                                                    <input type="checkbox" asp-for="IsDiscountInPercent" class="custom-control-input" id="IsDiscountInPercentSwitch" onchange="Calculate_SalesIncOthers()">
                                                    <label class="custom-control-label" asp-for="IsDiscountInPercent" for="IsDiscountInPercentSwitch"></label>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.Status"></label>&nbsp;<span class="red">*</span>
                                            <select asp-for="Status" class="form-control border-grey" required>
                                                <option value="">Select Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="@Model.TaxId"></label>&nbsp;<span class="red"></span>
                                                    <select asp-for="@Model.TaxId" class="custom-select select" onchange="Calculate_SalesIncOthers()">
                                                        <option value="">Select Tax</option>
                                                        @foreach (TaxDto tax in TaxSelectList.Items)
                                                        {
                                                            <option value="@tax.Id" data-tax-amount="@tax.Amount" data-is-in-percent="@tax.IsInPercent">@tax.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="@Model.SalesRate"></label>&nbsp;<span class="red font-small-1">(Inc Tax & Discount)</span>
                                                <input asp-for="FinalSalesRate" type="number" class="form-control border-grey" disabled />
                                            </div>
                                        </div>
                                    </div>*@
                                <h4 class="form-section"><i class="fa fa-plus"></i> Item Attributes</h4>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.CategoryId"></label>&nbsp;<span class="red">*</span>
                                            <select asp-for="@Model.CategoryId" asp-items="CategorySelectList" class="custom-select select" onchange="MainCategory_OnChange()" required>
                                                <option value="">Select Category</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateMainCategory"))
                                            {
                                                <a href="/MainCategory/Create" class="btn btn-sm btn-flat bg-blue white" data-original-title="Create" title="Add Category">
                                                    Add Category
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.SubCategoryId"></label>&nbsp;<span class="red"></span>
                                            <select asp-for="@Model.SubCategoryId" asp-items="SubCategorySelectList" class="custom-select select" disabled="@(Model.CategoryId == null ? "disabled" : null )">
                                                <option value="">Select Sub-Category</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateSubCategory"))
                                            {
                                                <a href="/SubCategory/Create" id="btnAddSubCategory" class="btn btn-sm btn-flat bg-blue white disabled" data-original-title="Create" title="Add Sub-Category">
                                                    Add Sub-Category
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.MinimumQuantity"></label>&nbsp;<span class="red"></span>
                                            <input asp-for="@Model.MinimumQuantity" type="text" class="form-control border-grey" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.BrandId"></label>&nbsp;<span class="red"></span>
                                            <select asp-for="@Model.BrandId" asp-items="BrandSelectList" class="custom-select select" onchange="NameAttribute_OnChange()">
                                                <option value="">Select Brand</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateBrand"))
                                            {
                                                <a href="/Brands/Create" class="btn btn-sm btn-flat bg-blue white" data-original-title="Create" title="Add Brand">
                                                    Add Brand
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.ColorId"></label>&nbsp;<span class="red"></span>
                                            <select asp-for="@Model.ColorId" asp-items="ColorSelectList" class="custom-select select" onchange="NameAttribute_OnChange()">
                                                <option value="">Select Color</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateColor"))
                                            {
                                                <a href="/Colors/Create" class="btn btn-sm btn-flat bg-blue white" data-original-title="Create" title="Add Color">
                                                    Add Color
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="@Model.SizeId"></label>&nbsp;<span class="red"></span>
                                            <select asp-for="@Model.SizeId" asp-items="SizeSelectList" class="custom-select select" onchange="NameAttribute_OnChange()">
                                                <option value="">Select Size</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding-top: 35px; position: absolute;">
                                            @if (ViewBag.rights.ContainsKey("CreateSize"))
                                            {
                                                <a href="/Sizes/Create" class="btn btn-sm btn-flat bg-blue white" data-original-title="Create" title="Add Size">
                                                    Add Size
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="padding-top: 35px;">
                                        <label asp-for="@Model.ImageUrl"></label>&nbsp;<span class="red"></span>
                                        <input id="item-image-input" type="file" name="itemImage" accept="image/*" class="border-grey" />
                                        <div class="d-inline">
                                            <img id="item-image" src="@Model.ImageUrl" width="100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @*<input hidden="hidden" asp-for="ManageStock" checked="checked" />*@
                                        <div class="custom-control custom-switch" style="padding-top:35px;" id="manageStockSwitchContainer">
                                            <input type="checkbox" asp-for="ManageStock" class="custom-control-input">
                                            <label class="custom-control-label" asp-for="ManageStock" for="ManageStock"></label>
                                        </div>
                                        <div class="custom-control custom-switch" style="padding-top: 35px;" id="isReturnableSwitchContainer">
                                            <input type="checkbox" asp-for="IsReturnable" class="custom-control-input">
                                            <label class="custom-control-label" asp-for="IsReturnable" for="IsReturnable"></label>
                                        </div>
                                        <div class="custom-control custom-switch" style="padding-top: 35px;" id="displayOnPosSwitchContainer">
                                            <input type="checkbox" asp-for="DisplayOnPos" class="custom-control-input" onclick="DisplayOnPos_OnClick()" disabled="@(Model.IsRawItem ? "disabled" : null)" checked="@(Model.IsRawItem == false ? "checked" : null)">
                                            <label class="custom-control-label" asp-for="DisplayOnPos" for="DisplayOnPos"></label>
                                        </div>
                                        <div class="custom-control custom-switch" style="padding-top: 35px;" id="isRawItemSwitchContainer">
                                            <input type="checkbox" asp-for="IsRawItem" onclick="IsRawItem_OnClick()" class="custom-control-input">
                                            <label class="custom-control-label" asp-for="IsRawItem" for="IsRawItem"></label>
                                        </div>

                                        <div class="custom-control custom-switch d-inline-block" style="padding-top: 35px;">
                                            <input type="checkbox" asp-for="IsDeal" onclick="IsDeal_OnClick()" class="custom-control-input" id="IsDeal">
                                            <label class="custom-control-label" for="IsDeal">Add As Deal</label>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="custom-control custom-switch d-inline-block" style="padding-top: 35px;">
                                            <input type="checkbox" asp-for="IsRecipe" onclick="AddRecipe_OnClick()" class="custom-control-input">
                                            <label class="custom-control-label" for="IsRecipe">Add Recipe </label>
                                        </div>
                                        <div class="row" id="recipe-table-container" hidden="@(Model.IsRecipe == false && Model.IsDeal == false ? "hidden" : null)">
                                            <div class="col-md-12">
                                                <div class="card-body card-dashboard table-responsive">
                                                    <label id="table-label">
                                                        @if (Model.IsDeal)
                                                        {<span>DEAL ITEMS</span>}
                                                        @if (Model.IsRecipe)
                                                        {<span>RECIPE ITEMS</span>}
                                                    </label>
                                                    <table class="table table-striped table-bordered" id="subitems-table">
                                                        <thead class="subitems-table-thead" style="font-size: smaller;">
                                                            <tr>
                                                                <th>Name <span class="red">*</span></th>
                                                                <th>Barcode</th>
                                                                <th>Unit Measurement</th>
                                                                <th>Quantity</th>
                                                                <th>Unit Amount</th>
                                                                <th>Total Amount</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.InvItemRecipeChild != null)
                                                            {
                                                                for (int i = 0; i < Model.InvItemRecipeChild.Count(); i++)
                                                                {
                                                                    @await Component.InvokeAsync("AddItem_SubItemRow",
                                                                        new Tuple<int, InvItemRecipeDto, int>(i,
                                                                            Model.InvItemRecipeChild[i],
                                                                            Model.ItemType))
                                                                    ;
                                                                }
                                                            }
                                                        </tbody>
                                                        <tfoot class="subitems-table-tfoot" style="font-size: smaller;">
                                                            <tr>
                                                                <th>Name <span class="red">*</span></th>
                                                                <th>Barcode</th>
                                                                <th>Unit Measurement</th>
                                                                <th>Quantity</th>
                                                                <th>Unit Amount</th>
                                                                <th>Total Amount</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                            <tr class="border-1 border-white">
                                                                <td class="border-0"><input id="btn-add-subitems-row" type="button" class="btn btn-sm bg-blue btn-flat white" value="Add More" onclick="AddSubItemsRow()" /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>


                                                    <!--NEVER EVER REMOVE THIS TABLE-->
                                                    <table style="display: none;" id="deleted-rows-table">
                                                        <tbody>
                                                            <!--NEVER EVER REMOVE THIS ROW-->
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="custom-control custom-switch" style="padding-top: 35px;" id="Add">
                                            <input type="checkbox" class="custom-control-input" id="addMiodifiersSwitch" onclick="AddModifiers_OnClick()" disabled="@(Model.IsRawItem == true ? "disabled" : null)" checked="@(Model.InvItemModifiers.Count() > 0 ? "checked" : null)">
                                            <label class="custom-control-label" for="addMiodifiersSwitch">Add Modifiers</label>
                                        </div>

                                        <div class="row" id="modifiers-table-container" hidden="@(Model.InvItemModifiers.Count() <= 0 ? "hidden" : null)">

                                            <div class="col-md-12">

                                                <div class="card-body card-dashboard table-responsive">
                                                    <label id="table-label">Modifiers</label>
                                                    <table class="table table-striped table-bordered" id="modifiers-table">
                                                        <thead class="modifiers-table-thead" style="font-size: smaller;">
                                                            <tr>
                                                                <th>Name <span class="red">*</span></th>
                                                                <th>Quantity</th>
                                                                <th>Is Mandatory</th>
                                                                <th>Modifier Charges</th>
                                                                <th>Total</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.InvItemModifiers != null)
                                                            {
                                                                for (int i = 0; i < Model.InvItemModifiers.Count(); i++)
                                                                {
                                                                    @await Component.InvokeAsync("AddItem_ItemModifiersRow",
                                                                        new Tuple<int, InvItemModifierDto>(i,
                                                                            Model.InvItemModifiers[i]))
                                                                    ;
                                                                }
                                                            }
                                                        </tbody>
                                                        <tfoot class="modifiers-table-tfoot" style="font-size: smaller;">
                                                            <tr>
                                                                <th>Name <span class="red">*</span></th>
                                                                <th>Quantity</th>
                                                                <th>Is Mandatory</th>
                                                                <th>Modifier Charges</th>
                                                                <th>Total</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                            <tr class="border-1 border-white">
                                                                <td class="border-0"><input id="btn-add-modifiers-row" type="button" class="btn btn-sm bg-blue btn-flat white" value="Add More" onclick="AddModifiersRow()" /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>


                                                    <!--NEVER EVER REMOVE THIS TABLE-->
                                                    <table style="display: none;" id="modifiers-deleted-rows-table">
                                                        <tbody>
                                                            <!--NEVER EVER REMOVE THIS ROW-->
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="custom-control custom-switch" style="padding-top:35px;">
            <input type="checkbox" asp-for="AllowBackOrder" class="custom-control-input" id="allowBackOrderSwitch">
            <label class="custom-control-label" asp-for="AllowBackOrder" for="allowBackOrderSwitch"></label>
        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button id="btn-edit-item" type="submit" class="btn btn-raised btn-success" style="float:right" value="Save">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
